// Here you can add other styles
.right-button {
    padding-bottom: 10px;
    text-align: right;
  }

.padding-around {
    padding: 0px 10px 30px;
    text-align: right;
    color: #ebedef;
  }

.grey-text {
  padding-left: 2px;
}
